# for more information, check out:
#   - https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
BasedOnStyle: Google
IndentWidth: 2
---
Language: Cpp
IndentPPDirectives: BeforeHash
AlignArrayOfStructures: Right
AllowShortBlocksOnASingleLine: Always
BreakBeforeConceptDeclarations: Never
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
NamespaceIndentation: All
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: true
SpaceBeforeCpp11BracedList: true
---
