# for more information, check out:
#   - https://clangd.llvm.org/config
#   - https://clang.llvm.org/extra/clang-tidy/checks/list.html
#
# Notes:
#   - Include Cleaner will not diagnose headers from the Standard Library.
#     Add flag `--include-cleaner-stdlib` to enable this UNSTABLE feature.
---
If:
  PathMatch: [.*\.cpp, .*\.hpp]
  PathExclude: include/dbg/.*
CompileFlags:
  Compiler: g++
  Add: [ "-I../include/" ] # Relative path to compile-commands-dir (CDB)
Diagnostics:
  ClangTidy:
    Add:
      [clang-analyzer-*, bugprone-*, modernize-*, performance-*, misc-unused-*]
    CheckOptions:
      bugprone-easily-swappable-parameters.MinimumLength: 3
