# for more information, check out:
#   - https://clangd.llvm.org/config
#   - https://clang.llvm.org/extra/clang-tidy/checks/list.html
#
# Notes:
#   - Include Cleaner will not diagnose headers from the Standard Library.
#     Add flag `--include-cleaner-stdlib` to enable this UNSTABLE feature.
---
CompileFlags:
  Compiler: g++
Diagnostics:
  ClangTidy:
    Add:
      [clang-analyzer-*, bugprone-*, modernize-*, performance-*, misc-unused-*]
  UnusedIncludes: Strict
InlayHints:
  Designators: No
  Enabled: Yes
  ParameterNames: No
  DeducedTypes: Yes
Hover:
  ShowAKA: Yes
